{
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["standard", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "Module": "readonly",
    "Log": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
