.loading {
  text-align: center;
  font-size: 1rem;
}
.title {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 1px solid white;
  line-height: 2rem;
}

.sensors {
  list-style: none;
  margin: 0;
  list-style-position: inside;
  padding: 0;
}

.sensors .sensor {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ccc;
  opacity: 0.75;
}

.sensors .sensor.error {
  color: #fff;
  opacity: 1;
}

.sensors .sensor.ok .sensor-status-icon {
  color: green;
}

.sensors .sensor.error .sensor-status-icon {
  color: red;
}
